.step {
  min-width: 1200px;
  opacity: 0;
  transition: opacity 0.9s;
}

.step.active {
  opacity: 1
}

.content-data {
  font-size: 26px;
}

.content-data code{
  font-size: 26px !important;
}

.slide {
  min-width: 1200px;
}

pre code {
  font-size: 19px !important;
}
